alabaster
alembic
amqp
apispec
asgiref
asttokens
attrs
Babel
backcall
billiard
black
blinker
celery
certifi
cfgv
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
contourpy
coverage
cycler
debugpy
decorator
distlib
Django
dnspython
docutils
entrypoints
eventlet
executing
filelock
flake8
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-Script
flask-smorest
Flask-SQLAlchemy
fonttools
gmsh
greenlet
gunicorn
identify
idna
imagesize
importlib-metadata
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kombu
Mako
markdown-it-py
MarkupSafe
marshmallow
mccabe
mdurl
meshio
mypy-extensions
nest-asyncio
networkx
nodeenv
numpy
numpy-stl
openpyxl
packaging
pandas
parso
passlib
pathspec
pexpect
pickleshare
pillow
pipenv
platformdirs
pre-commit
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pure-eval
pycodestyle
pyflakes
pyglet
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python-utils
pytz
# pywin32
PyYAML
pyzmq
referencing
requests
rhino3dm
rich
rpds-py
scipy
six
snowballstemmer
soundfile
Sphinx # Docs
sphinxcontrib-applehelp # docs, potentially secondary requirement
sphinxcontrib-devhelp # docs, potentially secondary requirement
sphinxcontrib-htmlhelp # docs, potentially secondary requirement
sphinxcontrib-jsmath # docs, potentially secondary requirement
sphinxcontrib-qthelp # docs, potentially secondary requirement
sphinxcontrib-serializinghtml # docs, potentially secondary requirement
SQLAlchemy
sqlparse
stack-data
tomli
tornado
traitlets
trimesh
typing_extensions
tzdata
urllib3
vine
virtualenv
virtualenv-clone
watchdog
wcwidth
webargs
Werkzeug
wincertstore
zipp
pytest
locust
ezdxf
modepy
pydata-sphinx-theme # Docs theme
myst_parser # Docs, required for markdown support
sphinx-design # Docs, required for tabs and other design elements
sphinx-copybutton # Docs, required for copy buttons in code blocks
sphinx-gallery # Docs, required for example gallery
matplotlib # Docs, required for plot directive
# pyroomacoustics
docker
pathlib
paramiko